<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'warning' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'sure' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'close' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="delete()">{{ 'confirm_delete' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row mt-2">
      <div class="col col-md-12 offset-md-12">
        <a class="btn btn-success" routerLink="/fruits/create">{{ 'create' | translate }}</a>
      </div>
    </div>
    <table class="table">
      <!-- code hidden for display purpose -->
    </table>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'name' | translate }}</th>
        <th scope="col">{{ 'quantity' | translate }}</th>
        <th scope="col">{{ 'price' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _fruitService.allFruits; let indexOfelement=index;">
        <th scope="row">{{ indexOfelement+1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/fruits/edit', item.id]">{{ 'edit' | translate }}</a>
        </td>
        <td>
          <button type="button" (click)="openDeleteModal(item.id)" class="btn btn-danger">{{ 'delete' | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
