<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="container-fluid">
    <span class="form-inline">
      <select 
          class="form-control" 
          #selectedLang 
          (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" 
          [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
    <a class="navbar-brand text-dark">{{ 'dashboard' | translate  }}</a>
  </div>

  <div class="container align-items-center justify-content-center">
    <a class="navbar-brand text-dark" routerLink="/fruits/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ 'fruits' | translate }}</a>
    <a class="navbar-brand text-dark" routerLink="/posts/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ 'posts' | translate }}</a>
  </div>
</nav>
<router-outlet></router-outlet>



