<div class="container">
  <legend>{{ 'edit_item' | translate }}</legend>
  <form [formGroup]="fruitForm" (ngSubmit)="update()">
      
    <div class="form-group">
        <label for="name">{{ 'name' | translate }}</label>
        <input 
            formControlName="name"
            [(ngModel)] = "form.name" 
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">{{ 'name_required' | translate }}</div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">{{ 'name_character' | translate }}</div>
        </div>
    </div>
     
    <div class="form-group">
        <label for="price">{{ 'price' | translate }}</label>
        <input 
            formControlName="price"
            [(ngModel)] = "form.price"
            id="price" 
            type="text" 
            class="form-control">
        <div *ngIf="f['price'].touched && f['price'].invalid" class="alert alert-danger">
            <div *ngIf="f['price'].errors && f['price'].errors['required']">{{ 'price_required' | translate }}</div>
            <div *ngIf="f['price'].errors && f['price'].errors['pattern']">{{ 'price_number' | translate }}</div>
        </div>
    </div>
     
    <div class="form-group">
        <label for="quantity">{{ 'quantity' | translate }}</label>
        <input 
            formControlName="quantity"
            [(ngModel)] = "form.quantity"
            id="quantity" 
            type="number" 
            class="form-control">
        <div *ngIf="f['quantity'].touched && f['quantity'].invalid" class="alert alert-danger">
            <div *ngIf="f['quantity'].errors && f['quantity'].errors['required']">{{ 'quantity_required' | translate }}</div>
            <div *ngIf="f['quantity'].errors && f['quantity'].errors['pattern']">{{ 'quantity_number' | translate }}</div>
        </div>
    </div>
    
    <div class="pt-2">
      <button class="btn btn-primary" [disabled]="fruitForm.invalid" type="submit">{{ 'edit' | translate }}</button>
    </div>
</form>
</div>